.u-section-1 .u-sheet-1 {
  min-height: 567px;
}

.u-section-1 .u-form-1 {
  height: 241px;
  width: 570px;
  margin: 163px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  align-self: center;
  margin: 0 auto 0 614px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: -25px auto 60px 433px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-left: 440px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 234px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 313px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 88px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 278px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 148px;
  }
}